<div class="user-details-page">
<div class="row">
  <div class="user-header">
     <%= render partial: "shared/user_card", locals: {u: @user}%>
  </div>

  <div class="user-bio">
     <h2>Bio</h2>
    <p><%= @user.bio%></p>
  </div>
   
   <%@posts&.each do |p|%>
      <%= render partial: "shared/post_card", locals: {p:p}%>
   <%end%>

   <div class="button-wrapper">
   <%= link_to "See all posts", "/users/#{@user.id}/posts" %>
   </div>
   
</div>
</div>