<div class="comments">
<div class="comment">
<p>User name: comment 1</p>
</div>
<div class="comment">
<p>User name: comment 2</p>
</div>
<div class="comment">
<p>User name: comment 3</p>
</div>
<div class="comment">
<p>User name: comment 1</p>
</div>
</div>