<div class="post-body">
  <div>
    <h2>Sample post one by Username</h2>
    <p class="commets-and-likes">
        <span>Comments: 0</span>
        <span>Likes: 0</span>
    </p>
  </div>
  <div class="content">
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam fuga maiores necessitatibus minima, numquam iure excepturi ab mollitia impedit iusto recusandae illum dolorem eaque magni assumenda temporibus fugit minus qui sunt. Magnam impedit delectus incidunt numquam odit perferendis? Temporibus perferendis vero sint placeat! Rem, doloremque corporis vel amet adipisci dolor laboriosam maxime inventore repellendus eveniet vitae numquam. Consequuntur numquam deserunt a ipsum commodi nostrum sit nihil omnis quis. Excepturi sequi cum hic nam porro. Neque iusto aliquid, incidunt saepe eligendi commodi perspiciatis molestias exercitationem corporis odio voluptates perferendis odit molestiae rerum inventore! Rem optio perferendis porro cupiditate aspernatur excepturi dolores.</p>
  </div>
</div>