<main class="posts-page">
  <div class="row">
   <%= render partial: "shared/user_card", locals: {u: @user}%>

     <%@posts.each do |p|%>
      <%= render partial: "shared/post_card", locals: {p:p}%>
      <div class="comments-wrapper">
      <%= render partial: "shared/comments", locals: {comments: p.five_most_recent_comments}%>
      </div>
     <%end%>
   
  </div>

</main>