<div class="single-post-page">
  <div class="row">
    <%= render partial: "shared/post_body"%>
   <div class="comments-wrapper">
      <%= render partial: "shared/comments"%>
      </div>
  </div>
</div>