<footer class="footer">
    <div class="footer-container row">
        <p>
            Build with 🧡 By 
            <a
            href="https://github.com/serengia"
            target="_blank"
            rel="noreferrer"
            >
            James Serengia (GitHub)
            </a>
        </p>
    </div>
</footer>