
<header class="header">
<div class="header-container row">
  <ul class="nav-links">
<li class="nav-link"><%= link_to "Home", root_path%> </li>
<li class="nav-link"><%= link_to "users", users_path%> </li>
<li class="nav-link"><%= link_to "login", user_session_path, method: "post"%> </li>
<li><%= button_to "logout", destroy_user_session_path, method: :delete  %></li>
</ul>
</div>
</header>